<Configuration>
    <Root>
        <Key Name="PP">
            <BIS>
                <Key Name="System">
                    <Session KeyIncr="0" Statable="Yes" SecureSession="0" />
                </Key>
            </BIS>
        </Key>
        <Key Name="InMem">
            <Key Name="CacheType" Value="global"/>
            <Key Name="DataDir" Value="/mnt/cache/"/>
            <Key Name="MemLimitMb" Value="2000"/>
            <Key Name="DefaultAggr" Value="false"/>
            <Key Name="AutoClear" Value="true"/>
            <Key Name="PartialAggr" Value="true"/>
        </Key>
    </Root>
</Configuration>
